:root {
  --broken1: #7598fa;
  --broken2: #77aee9;
  --few1: #45eaf3;
  --few2: #3ec3eb;
  --clear1: #e7f700;
  --clear2: #c4f60f;
  --scattered2: #c0c0fa;
  --mist1: #d8f3ff;
  --mist2: #bac9e4;
  --snow1: #c4c4fb;
  --snow2: #bae5fe;
  --rain1: #6ca5f1;
  --rain2: #3772ea;
  --thunderstorm1: #75758d;
  --thundetstorm2: #454564;
  --main1: #6A6AF9;
  --main2: #C28DF7;
  --main3: #1B30D1;
  --main4: beige;
  --text1: #e8e8f8;
  --text2: #15151e;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--main3) !important;
  display: block;
  margin: 8px;
}

.jumbotron {
  /* background-color:  */
  background-image: linear-gradient(to bottom right, var(--snow2), var(--main1)) !important;
  color: var(--text1);
  margin-bottom: 1rem !important;
  position: relative;
}

.jumbotron h1 {
  text-shadow: 0px 0px 1px black;
}

.row {}

.container-fluid {
  background-color: var(--main3);
}

.input {}

/* .button {
  top: 50%;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  color: #fff;
  border: none;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

.button:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px var(--main1);
  transition: 0.7s; */
/* } */

.card-text {
  text-align: center !important;
}

.button {
  background-image: linear-gradient(to right, #6A6AF9 0%, #C28DF7 51%, #1B30D1 100%);

  padding: 15px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;

  border-radius: 10px;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

.button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  box-shadow: 0 0 20px #eee;
  text-decoration: none;
}


.card {}

.mb-3 {
  margin: 5px;
  cursor: pointer;
  display: flex;
}

.card-header {
  background-color: var(--main1) !important;
}

.card-body {
  background-color: var(--main2) !important;
}

.card-text {}

.card-footer {
  background-color: var(--main1) !important;
}


.container {}

.ui-datepicker {
  background: #333;
  border: 1px solid #555;
  color: #EEE;
}

.container {}

.weatherImg {}